body {
    margin: 0;
    background-color: #f2f2f2;
    font-family: 'Montserrat', sans-serif;
    color: #0D0106;
}

img {
    pointer-events: none;
}

.darkmode {
    background-color: #0D0106;
    color: #f2f2f2;
}

.nav {
    width: 100vw;
    font-size: clamp(2rem, 5vw, 5rem);
    margin: 1vh;
}

.navcontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 98vw;
    flex-wrap: wrap;
}

.titlecontainer,
.buttoncontainer {
    width: 50%;
    display: flex;
    align-items: center;
}

.titlecontainer {
    font-weight: 900;
}

.buttoncontainer {
    justify-content: flex-end;
}

.buttonminicontainer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.accountbuttoncontainer {
    width: 50%;
    display: flex;
    align-items: center;
}

.accountbutton {
    background-color: transparent;
    border: none;
    border-radius: 50%;
    text-align: center;
    width: clamp(3rem, 5vw, 5rem);
    height: clamp(3rem, 5vw, 5rem);
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.accountbutton:hover {
    background-color: #31313186;
}

.accountbuttonimg {
    width: clamp(2rem, 4vw, 4rem);
    height: clamp(2rem, 4vw, 4rem);
}

.darklighttogglecontainer {
    width: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.darklighttoggle {
    background-color: transparent;
    border: none;
    border-radius: 50%;
    text-align: center;
    width: clamp(3rem, 5vw, 5rem);
    height: clamp(3rem, 5vw, 5rem);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.darklighttoggle:hover {
    background-color: #31313186;
}

.darklighttoggleimg {
    width: clamp(2rem, 4vw, 4rem);
    height: clamp(2rem, 4vw, 4rem);
}

.title {
    margin: 0;
    font-family: 'Oswald', sans-serif;
}

.navdividercontainer {
    width: 98%;
}

.navdivider, .navdividerdark {
    border: none;
    width: 100%;
    height: 4px;
}

.navdivider {
    background-color: #0D0106;
}

.navdividerdark {
    background-color: #f2f2f2;
}

.signedinmainbody {
    display: none;
}

.textcontainermainbody {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: c
}