.accountmanagebody, .dangerbuttonsbody, .changeableinputcontainer, .changeablebuttonscontainer{
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.changeablebody{
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.changeablebuttonscontainer *, .changeableinputcontainer *, .dangerbuttonsbody *{
    margin-top: 10px;
}

.changeableinput{
    font-size: clamp(0.5rem, 3vw, 1.5rem);
}

.changeablebutton{
    border: 1px solid #d1d1d1;
    background-color: #f7f7f7;
    color: black;
    transition: border 0.3s, background-color 0.3s;
    border-radius: 5px;
    font-size: clamp(0.5rem, 3vw, 1.5rem);
}

.changeablebutton:hover{
    border: 1px solid #d1d1d1;
    background-color: #cccccc;
    color: black;
    transition: border 0.3s, background-color 0.3s;
    border-radius: 5px;
    font-size: clamp(0.5rem, 3vw, 1.5rem);
}

body.darkmode .changeablebutton{
    background-color: #2d2d2d;
    border: 1px solid #444;
    color: #e0e0e0;
    transition: border 0.3s, background-color 0.3s;
    border-radius: 5px;
    font-size: clamp(0.5rem, 3vw, 1.5rem);
}

body.darkmode .changeablebutton:hover{
    background-color: #424242;
    border: 1px solid #444;
    color: #e0e0e0;
    transition: border 0.3s, background-color 0.3s;
    border-radius: 5px;
    font-size: clamp(0.5rem, 3vw, 1.5rem);
}

.dangerbutton{
    width: 100%;
    background-color: red;
    color: white;
    border: 1px solid #000000;
    border-radius: 5px;
    font-size: clamp(0.5rem, 3vw, 1.5rem);
}

.dangerbutton:hover{
    background-color: rgb(189, 0, 0);
}

.navdividercontainer{
    width: 98vw;
}

.navdivider{
    border:none;
    width: 98vw;
    background-color: #0D0106;
    height: 4px;
}

body.darkmode .navdivider{
    color: black;
    border:none;
    width: 98vw;
    background-color: #f2f2f2;
    height: 4px;
}