body{
    margin:0px;
    background-color: #f2f2f2;
    font-family: 'Montserrat';
    color: #0D0106;
}

img{
    pointer-events: none;
}

.darkmode{
    background-color: #0D0106;
    font-family: 'Montserrat';
    color: #f2f2f2;
}

.nav{
    width: 100vw;
    font-size: clamp(2rem, 5vw, 5rem);
}

.navcontainer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 98vw;
}

.titlecontainer{
    width: 50%;
    float: left;
    font-weight: 900;
}

.title{
    pointer-events: none;
}

.buttoncontainer{
    width: 50%;
    float: left;
}

.buttonminicontainer{
    float:right;
}

.accountbuttoncontainer{
    display: none;
    width: 50%;
    float: left;
}

.accountbutton{
    background-color: rgba(0, 0, 0, 0);
    border-color: rgba(0, 0, 0, 0);
    border-radius: 50%;
    text-align: center;
    float: left;
    width: clamp(2rem, 5vw, 5rem);
    height: clamp(2rem, 5vw, 5rem);
    margin: auto;
}

.accountbutton:hover{
    background-color: #31313186;
}

.accountbuttonimg{
    width: clamp(1rem, 4vw, 4rem);
    height: clamp(1rem, 4vw, 4rem);
}

.darklighttogglecontainer{
    width: 50%;
    float: right;
}

.darklighttoggle{
    background-color: rgba(0, 0, 0, 0);
    border-color: rgba(0, 0, 0, 0);
    border-radius: 50%;
    text-align: center;
    float: right;
    width: clamp(2rem, 5vw, 5rem);
    height: clamp(2rem, 5vw, 5rem);
    margin: auto;
}

.darklighttoggle:hover{
    background-color: #31313186;
}

.darklighttoggleimg{
    width: clamp(1rem, 4vw, 4rem);
    height: clamp(1rem, 4vw, 4rem);
    margin: auto;
}

.title{
    vertical-align: auto;
    margin: 0px;
    font-family: 'Oswald';
    text-align: left;
}

.navdividercontainer{
    width: 98vw;
}

.navdivider{
    border:none;
    width: 98vw;
    background-color: #0D0106;
    height: 4px;
}

body.darkmode .navdivider{
    color: black;
    border:none;
    width: 98vw;
    background-color: #f2f2f2;
    height: 4px;
}

.signedinmainbody{
    display: none;
}

.signedoutmainbody{
    width: 98vw;
}

.textcontainermainbody{
    text-align: center;
    width: 98vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: clamp(0.5rem, 3vw, 1.5rem);
}

.generaltext{
    font-size: clamp(0.5rem, 3vw, 1.5rem);
}

.reasonscontainer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.reasonscontainermini{
    width: 75%;
}

@property --angle{
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

.reason1, .reason2, .reason3, .reason4, body.darkmode .reason1 , body.darkmode .reason2, body.darkmode .reason3, body.darkmode .reason4{
    position: relative;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    width: 23%;
    margin-left: calc(1% - 2px);
    margin-right: calc(1% - 2px);
    float: left;
    border-radius: 5px;
    border-width: 2px;
    border-style: solid;
    height: 10rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.reason1:hover, body.darkmode .reason1:hover{
    box-shadow: rgba(99, 99, 99, 0.2) 0px 0px 0px 0px;
    border:none;
}

.reason1:hover::after, .reason1:hover::before, body.darkmode .reason1:hover::before, body.darkmode .reason1:hover::after{
    --angle: 0deg;
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    height: 100%;
    width: 100%;
    background-image: conic-gradient(from var(--angle), transparent 80%, #FF7F27);
    translate: -50% -50%;
    z-index: -1;
    padding: 2px;
    border-radius: 5px;
    animation: 3s spin linear infinite;
}

body.darkmode .reason1:hover::before, .reason1:hover::before{
    filter: blur(1.5rem);
    opacity: 0.5;
}

.reason2:hover, body.darkmode .reason2:hover{
    box-shadow: rgba(99, 99, 99, 0.2) 0px 0px 0px 0px;
    border:none;
}

.reason2:hover::after, .reason2:hover::before, body.darkmode .reason2:hover::before, body.darkmode .reason2:hover::after{
    --angle: 0deg;
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    height: 100%;
    width: 100%;
    background-image: conic-gradient(from var(--angle), transparent 80%, #5058CF);
    translate: -50% -50%;
    z-index: -1;
    padding: 2px;
    border-radius: 5px;
    animation: 3s spin linear infinite;
}

body.darkmode .reason2:hover::before, .reason2:hover::before{
    filter: blur(1.5rem);
    opacity: 0.5;
}

.reason3:hover, body.darkmode .reason3:hover{
    box-shadow: rgba(99, 99, 99, 0.2) 0px 0px 0px 0px;
    border:none;
}

.reason3:hover::after, .reason3:hover::before, body.darkmode .reason3:hover::before, body.darkmode .reason3:hover::after{
    --angle: 0deg;
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    height: 100%;
    width: 100%;
    background-image: conic-gradient(from var(--angle), transparent 80%, #EC1C24);
    translate: -50% -50%;
    z-index: -1;
    padding: 2px;
    border-radius: 5px;
    animation: 3s spin linear infinite;
}

body.darkmode .reason3:hover::before, .reason3:hover::before{
    filter: blur(1.5rem);
    opacity: 0.5;
}

.reason4:hover, body.darkmode .reason4:hover{
    box-shadow: rgba(99, 99, 99, 0.2) 0px 0px 0px 0px;
    border:none;
}

.reason4:hover::after, .reason4:hover::before, body.darkmode .reason4:hover::before, body.darkmode .reason4:hover::after{
    --angle: 0deg;
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    height: 100%;
    width: 100%;
    background-image: conic-gradient(from var(--angle), transparent 80%, #0ED145);
    translate: -50% -50%;
    z-index: -1;
    padding: 2px;
    border-radius: 5px;
    animation: 3s spin linear infinite;
}

body.darkmode .reason4:hover::before, .reason4:hover::before{
    filter: blur(1.5rem);
    opacity: 0.5;
}

.reason1, .reason2, .reason3, .reason4{
    background-color: #e4e4e4;
    border-color: #ffffff;
}

body.darkmode .reason1, body.darkmode .reason2, body.darkmode .reason3, body.darkmode .reason4{
    background-color: #242424;
    border-color: #000000;
}

.reasonimagecontainer{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.reasonimage{
    width: 50%;
    height: auto;
}

.reasontext{
    text-align: center;
    font-size: clamp(0.6rem, 1.5vw, 1rem);
    margin-right: 5px;
}

.signupbuttoncontainer{
    margin: 3%;
    justify-content: center;
    display: flex;
    align-items: center;
}

.signupbutton, body.darkmode .signupbutton{
    border: 1px;
    border: solid;
    border-radius: 5px;
    position: relative;
    font-size: clamp(0.5rem, 3vw, 1.5rem);
    box-shadow: rgba(99, 99, 99, 0.2) 0px 4px 16px 0px;
    padding: 10px;
}

.signupbutton{
    color: black;
    background-color: #e4e4e4;
    border-color: #ffffff;
}

body.darkmode .signupbutton{
    color: white;
    background-color: #242424;
    border-color: #000000;
}

.signupbutton:hover, body.darkmode .signupbutton:hover{
    border:none;
}

body.darkmode .signupbutton:hover::after, body.darkmode .signupbutton:hover::before, .signupbutton:hover::after, .signupbutton:hover::before{
    --angle: 0deg;
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    height: 100%;
    width: 100%;
    background-image: conic-gradient(from var(--angle), #FF7F27 , #5058CF , #EC1C24 , #0ED145 , #FF7F27);
    translate: -50% -51%;
    z-index: -1;
    padding: 2px;
    border-radius: 5px;
    animation: 3s spin linear infinite;
}

body.darkmode .signupbutton:hover::before, .signupbutton:hover::before{
    filter: blur(1.5rem);
    opacity: 0.5;
}

@keyframes spin{
    from{
        --angle: 0deg;
    }
    to{
        --angle: 360deg;
    }
}

.ingroupmainbody{
    display: none;
}

.notingroupbuttoncontainer{
    width: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.notingroupbuttonminicontainer{
    margin: 20px;
}

.newgroupbutton, .existinggroupbutton, body.darkmode .newgroupbutton, body.darkmode .existinggroupbutton, .creategroupbutton, body.darkmode .creategroupbutton, .updateadminbutton, body.darkmode .updateadminbutton, .invitebutton, body.darkmode .invitebutton, .joingroupbutton, body.darkmode .joingroupbutton{
    box-shadow: rgba(99, 99, 99, 0.2) 0px 4px 16px 0px;
    border: 1px;
    border: solid;
    border-radius: 5px;
    font-size: clamp(0.5rem, 3vw, 1.4rem);
    width: clamp(10rem, 15vw, 30rem);
}

.newgroupbutton, .existinggroupbutton, .creategroupbutton, .updateadminbutton, .invitebutton, .joingroupbutton{
    background-color: #e4e4e4;
    border-color: #ffffff;
    color: black;
}

body.darkmode .newgroupbutton, body.darkmode .existinggroupbutton, body.darkmode .creategroupbutton, body.darkmode .updateadminbutton, body.darkmode .invitebutton, body.darkmode .joingroupbutton{
    background-color: #242424;
    border-color: #000000;
    color: white;
}

.newgroupbutton:hover, .existinggroupbutton:hover, .creategroupbutton:hover, .updateadminbutton:hover, .invitebutton:hover, .joingroupbutton:hover{
    background-color: #d1d1d1;
}

body.darkmode .newgroupbutton:hover, body.darkmode .existinggroupbutton:hover, body.darkmode .creategroupbutton:hover, body.darkmode .updateadminbutton:hover, body.darkmode .invitebutton:hover, body.darkmode .joingroupbutton:hover{
    background-color: #303030;
}

.subtitle{
    font-size: clamp(2rem, 3vw, 3rem);
}

.creategroupcontainer{
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.joingroupcontainer{
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.creategroupcontainer *{
    margin: 10px
}

#groupnameinput{
    width: 30%;
}

.adminviewbodycontainer{
    width: 100vw;
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.regviewbodycontainer{
    display: none;
}

.competitionfocusselectcontainer, body.darkmode .competitionfocusselectcontainer{
    margin-right: 30px;
    border: 1px;
    border: solid;
    border-radius: 5px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 4px 16px 0px;
    padding: 10px;
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.competitionfocusselectcontainer{
    background-color: #e4e4e4;
    border-color: #ffffff;
    color: black;
}

body.darkmode .competitionfocusselectcontainer{
    background-color: #242424;
    border-color: #000000;
    color:white;
}

.memberlistcontainer, body.darkmode .memberlistcontainer{
    margin-left: 30px;
    border: 1px;
    border: solid;
    border-radius: 5px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 4px 16px 0px;
    padding: 10px;
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.memberlistcontainer{
    background-color: #e4e4e4;
    border-color: #ffffff;
    color: black;
}

body.darkmode .memberlistcontainer{
    background-color: #242424;
    border-color: #000000;
    color:white;
}

.tabletitle{
    font-size: clamp(0.5rem, 3vw, 1.5rem);
    font-weight: bolder;
}

.memberlisttablecontainer{
    width: 95%;
}

.memberlisttable{
    width: 100%;
    border-collapse: collapse;
}

.memberlisttable td{
    border:rgba(99, 99, 99, 0.2);
    border: 1px;
    border-style: solid;
}

.memberlistemail:hover{
    text-decoration: line-through;
    cursor: pointer;
}

.adminupdatebuttoncontainer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    width: 20%;
}

.tablebelowbuttoncontainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
}

.invitebutton, body.darkmode .invitebutton, .updateadminbutton, body.darkmode .updateadminbutton{
    width: 100%;
}

.invitebuttoncontainer{
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    width: 80%;
}

.tabletext{
    font-size: clamp(0.4rem, 2.7vw, 1.3rem);
}

.backdrop {
    filter: blur(10px);
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

.popup {
    display: none;
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -40%);
    background-color: #616161;
    color: #ffffff;
    border: 1px solid #616161;
    padding: 20px;
    z-index: 1000;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.3);
}














.compsearchinput{
    font-size: clamp(0.5rem, 3vw, 1.3rem);
}

.compsearchcontainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.competitionfocusselectcontainer{
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
}

.comptab, body.darkmode .comptab{
    margin-top: 10px;
    margin-bottom: 10px;
    border-width: 1px;
    border: solid;
    border-color: #727272;
    border-radius: 5px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 4px 16px 0px;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.comptab{
    background-color: #e4e4e4;
}

body.darkmode .comptab{
    background-color: #242424;
}

.comptab:hover{
    border-color: black;
    background-color: #cfcfcf;
    cursor: pointer;
}

body.darkmode .comptab:hover{
    border-color: black;
    background-color: #353535;
    cursor: pointer;
}

.comptabbigtext{
    font-size: clamp(0.5rem, 3vw, 1.3rem);
    margin: 6px;
    font-weight: bold;
}

.comptabsmalltext{
    margin: 2px;
    font-size: clamp(0.4rem, 2.7vw, 1.2rem);
    text-align: center;
    width: 100%;
}

.comptabcontainer{
    margin-top: 10px;
    width: 90%;
    max-height: 600px;
    overflow-y: auto;
    border: 1px solid #727272;
    border-radius: 5px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-sizing: border-box;
}























@media only screen and (max-width: 800px) {
    .reason1, .reason2, .reason3, .reason4, body.darkmode .reason1 , body.darkmode .reason2, body.darkmode .reason3, body.darkmode .reason4{
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        width: 48%;
        margin: calc(1% - 2px);
        border-width: 2px;
        border-style: solid;
        background-color: #dadada;
        float: left;
    }

    .reason1, .reason2, .reason3, .reason4{
        background-color: #e4e4e4;
        border-color: #ffffff;
    }

    body.darkmode .reason1, body.darkmode .reason2, body.darkmode .reason3, body.darkmode .reason4{
        background-color: #242424;
        border-color: #000000;
    }

    .adminviewbodycontainer{
        width: 100vw;
        display: none;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .competitionfocusselectcontainer, body.darkmode .competitionfocusselectcontainer{
        margin-bottom: 20px;
        margin-right: 0px;
        width: 80%;
    }

    .memberlistcontainer, body.darkmode .memberlistcontainer{
        margin-top: 20px;
        margin-left: 0px;
        width: 80%;
    }
}